{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Điều khoản và Điều kiện | Chuyến bay</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                Trang web du lịch www.flight-web-app.herokuapp.com được duy trì bởi Flight Inc. Đây là một công ty du lịch được chứng nhận IATA hiện tuân thủ luật pháp của Cộng hòa Ấn Độ. Bằng cách truy cập hoặc sử dụng trang web này hoặc sử dụng bất kỳ dịch vụ nào của nó, bạn đồng ý với các điều khoản và điều kiện được đề cập bên dưới, bao gồm mọi nguyên tắc bổ sung và sửa đổi trong tương lai.
            </p>
            <p>
                Chuyến bay có thể thay đổi, thay đổi hoặc loại bỏ bất kỳ phần nào trong các Điều khoản và Điều kiện bằng văn bản dưới đây mà không cần thông báo trước. Mọi thay đổi được thực hiện trong Điều khoản và Điều kiện sử dụng này sẽ được áp dụng vào thời điểm chúng được đăng trên trang web. Bạn cần kiểm tra lại link “Điều khoản & Điều kiện” để nắm rõ toàn bộ tình huống.
            </p>
            <p>
                <b>1. Thỏa thuận giữa Khách hàng và Chuyến bay:</b><br>
                Trong khi truy cập, sử dụng, duyệt hoặc đặt chỗ qua chuyến bay-web-app.herokuapp.com, người dùng phải chấp nhận rằng họ đồng ý với các điều khoản và điều kiện của cổng thông tin của chúng tôi. Trong trường hợp có bất kỳ vi phạm nào, Flight Planners Ltd. và các công ty con (bao gồm cả chuyến bay-web-app.herokuapp.com) bảo lưu mọi quyền thực hiện bất kỳ hành động pháp lý nào chống lại họ.
            </p>
            <p>
                <b>2. Giá trên trang web:</b><br>
                Phí dịch vụ, phí hủy, phí đổi lịch đã bao gồm thuế GST<br>
                Giá mà chúng tôi cung cấp trên Flight-web-app.herokuapp.com thường bao gồm phí chỗ ở, thuế (trừ khi có quy định khác) và trong trường hợp đặc biệt một số bữa ăn (Bữa sáng/Bữa trưa/Bữa tối). Nó không bao giờ bao gồm bất kỳ chi phí cá nhân hoặc các khoản phí bổ sung khác như các cuộc gọi điện thoại, dịch vụ cá nhân, phí vào cửa của bất kỳ tượng đài và phí quán bar nào, v.v..
            </p>
            <p>
                <b>3. Phương thức thanh toán & Chính sách:</b><br>
                Cổng thanh toán của chúng tôi hoàn toàn an toàn và khách hàng có thể thực hiện thanh toán trực tuyến thông qua quy trình giao dịch an toàn để đảm bảo mã bảo mật cá nhân của họ sẽ không bị tiết lộ trong mọi trường hợp..
            </p>
            <p>
                <b>4. Sử dụng trang web</b><br>
                <b>Trong trường hợp bạn sử dụng trang web này, bạn đồng ý rằng:</b>
                <ul>
                    <li>Bạn có thẩm quyền pháp lý để đưa ra yêu cầu pháp lý bắt buộc và tham gia vào các Điều khoản sử dụng này.</li>
                    <li>Bạn sẽ sử dụng trang web này theo Điều khoản sử dụng của nó.</li>
                    <li>Bạn sẽ chỉ sử dụng trang web để thực hiện các đặt chỗ hợp pháp cho bạn hoặc người khác mà bạn được chính thức chấp thuận thực hiện các loại đặt chỗ này. Bạn cũng sẽ thông báo cho người khác về Điều khoản và Điều kiện của trang web.</li>
                    <li>Bạn sẽ cung cấp thông tin chính xác về mọi tài liệu chính thức và các chi tiết quan trọng khác như tên và DOB cho trang web trong trường hợp lên kế hoạch cho chuyến đi với nó.</li>
                    <li>Trường hợp có sai sót, sai sót trong quá trình cung cấp thông tin, bạn sẽ hoàn toàn chịu trách nhiệm về việc đó..</li>
                    <li>Tất cả thông tin do bạn cung cấp cho trang web này phải chính xác, cập nhật và đầy đủ,</li>
                    <li>Nếu bạn có tài khoản trên trang này, bạn nên bảo mật tài khoản bằng thông tin đăng nhập của mình, bao gồm ID đăng nhập và mật khẩu. Bạn sẽ hoàn toàn chịu trách nhiệm về bất kỳ việc sử dụng hoặc lạm dụng tài khoản của mình.</li>
                    <li>Chuyến bay có quyền từ chối quyền truy cập vào Trang web của mình cho bất kỳ ai, vào bất kỳ lúc nào mà không cần thông báo và vì bất kỳ lý do gì, bao gồm nhưng không giới hạn đối với việc vi phạm Điều khoản sử dụng của chuyến bay..</li>
                </ul>

        </div>
    </section>
{% endblock%}